<h1>Program Weekend Hackathon</h1>
<h3>Add your team:</h3>

<form action="/" method="post">
  <label for="team-name">Team name</label>
  <input id="teamName" name="teamName" type="text">

  <button type="submit" class="btn btn-default">Add team</button>
</form>

<div class="Teams Attending">
  #if ($teams)
    #foreach ($team in $teams)
        <h3><a href="/teams/$team.getId()">$team.getDescription()</a></h3>
    #end
#else
  <h3>There are no teams signed up</h3>
#end
</div>
