<!DOCTYPE html>
<html>
  <head>
    <title>Record Keeper</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='css/app.css'>
  </head>
  <body>
    <!-- begin inner template-->
    <div class="container-fluid">
      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>
